{% extends 'base.html' %}
{% block title %} Edit Tags {% endblock %}

{% block content %}

<h1>Edit a Tag</h1>
<form method="POST" action="/tags/{{ tag.id }}/edit">
    <div class="group-row-form">
        <label for="tag_name" class="form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="tag_name" name="tag_name" placeholder="Enter a name for the tag"
                value="{{tag.name}}">
        </div>
    </div>

    <!-- <!-- <div class="group-row-form">
        <label for="last_name" class="form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{user.last_name}}">
        </div>
    </div> -->

    <div class="group-row-form">
        {% for post in posts %}
        <div>
            <input type="checkbox" value="{{post.id}}" name="posts" {% if post in tag.posts %} checked {% endif %}>
            <label for="post_{{post.id}}"> {{ post.title }} </label>
        </div>
        {% endfor %}
    </div>

    <div class="group-row-form">
        <div>
            <a href="/tags">Cancel</a>
            <button type="submit">Edit</button>
        </div>
    </div>

</form>


{% endblock %}