{% extends 'base.html' %}
{% block title %} Add Tag {% endblock %}

{% block content %}
<h1>Add a new Tag</h1>


<form method="POST" action="/tags/new">
    <div class="group-row-form">
        <label for="name" class="form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter a name for the tag">
        </div>
    </div>

   
    <div>
        {% for post in posts %}
        <div>
            <input type="checkbox" value="{{ post.id }}" id="post_{{post.id}}" name="posts">  
        <label for= "post_{{ post.id }}""> {{post.title }} </label>
        </div>
        {% endfor %}
    </div>

    <div class="group-row-form">
        <div>
            <a href="/tags">Cancel</a>
            <button type="submit">Add</button>
        </div>
    </div>
</form>

{% endblock %}