{% extends 'base.html' %}
{% block title %} New Post {% endblock %}

{% block content %}
<h1>Add a new blog post for {{user.full_name}}</h1>
<form method="POST">
    <div class="group-row-form">
        <label for="new_post_title" class="form-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="title" name="title" placeholder="New Post Title">
        </div>
    </div>

    <div class="group-row-form">
        <label for="new_post_content" class="form-label">Content</label>
        <div class="col-sm-100">
            <input type="text" class="form-control" id="content" name="content" placeholder="Add your post content">
        </div>
    </div>

    <div class="form-check">
        {% for tag in tags %}
        <div>
            <input type ="checkbox" value="{{tag.id}}" id = "tag_{{tag.id}}" name="tags">
            <label for ="tag_{{tag.id}}">{{ tag.name}}</label>
        </div>
        {% endfor %}
    </div>

    <div class="group-row-form">
        <div class="ml-auto mr-3">
            <a href="/users/{{user.id}}">Cancel</a>
            <button type="submit" class="btn-submit">Add</button>
        </div>
    </div>

</form>

{% endblock %}