{% extends 'base.html' %}
{% block title %} Add User {% endblock %}

{% block content %}
<h1>Add a new user</h1>
<form method="POST">
    <div class="group-row-form">
        <label for="first_name" class="form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="first_name" name="first_name"
                placeholder="Enter your first name">
        </div>
    </div>

    <div class="group-row-form">
        <label for="last_name" class="form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Enter your last name">
        </div>
    </div>

    <div class="group-row-form">
        <label for="image_url" class="form-label">Image URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="image_url" name="image_url" placeholder="Upload your picture">
        </div>
    </div>

    <div class="group-row-form">
        <div class="ml-auto mr-3">
            <button type="submit" class="btn-submit">Add</button>
        </div>
    </div>

</form>

{% endblock %}